@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?69534492');
    src: url('../font/fontello.eot?69534492#iefix') format('embedded-opentype'),
         url('elements/font/fontello.woff2?69534492') format('woff2'),
         url('elements/font/fontello.woff?69534492') format('woff'),
         url('elements/font/fontello.ttf?69534492') format('truetype'),
         url('elements/font/fontello.svg?69534492#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
  
    font-variant: normal;
    text-transform: none;
  
    line-height: 1em;
  
    margin-left: .2em;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  .icon-search:before { content: '\e800'; } /* '' */
  .icon-home:before { content: '\e801'; } /* '' */
  .icon-explore:before { content: '\e802'; } /* '' */
  .icon-activity:before { content: '\e803'; } /* '' */
  .icon-messenger:before { content: '\e804'; } /* '' */
  .icon-share:before { content: '\e805'; } /* '' */
  .icon-bookmark:before { content: '\e806'; } /* '' */
  .icon-newpost:before { content: '\f196'; } /* '' */
  
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #fafafa;

}
.header-container{
    width: 100%;
    height: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
    position: sticky;
}
.header{
    width: 66.6rem;
    height: 3.7rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    padding: 0 1.5rem;
}
.logo{
    padding-top: .8rem;
    margin-left: -.15rem;
}
.search-bar{
    width: 13.5rem;
    border: 1px solid rgba(0, 0, 0, .15);
    font-weight: 200;
    padding: .25rem;
    outline: none;
    padding-left: 2rem;
}
.icon-search{
    position: relative;
    left: 2rem;
    color: rgba(0, 0, 0, .35);
    font-weight:900;
    font-size: .9rem;
}
.icon{
    font-size: 1.6rem;
    padding-right: 1rem;
    background-color: white;
    cursor: pointer;
}
.icon-pp{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.nav-bar{
    display: flex;
    background-color: white;
    align-items:center;
    justify-content: center;
}
.main-content{
    margin-top: 2.2rem;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.posts{
    width: 44.2rem;
    height: 2000px;
}
.stories{
    background: white;
    width: 100%;
    height: 8rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.story-profiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.75rem;
    margin-top: -0.8rem;
    width: 4rem;
    height: 4rem;
}
.story-nicknames{
    margin-top: .25rem;
    background: white;
    letter-spacing: 0px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, .35);
}
.next-button{
    background: white;
    width: 1.5rem;
    height: 1.5rem;
    right: 5rem;
    margin-left: -4.25rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.test{
    font-size: 1.5rem;
    background: transparent;
    margin-top: -.4rem;
    color: rgba(0, 0, 0, .35);
    font-weight:900;
}
.post{
    width: 100%;
    height: 15rem;
    background: red;
    margin-top: 1.8rem;
}




.content{
    width: 21.8rem;
    height: 2000px;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}
.user-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.content-pp{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid white;
    outline: 1px solid rgba(0, 0, 0, .15);
    cursor: pointer;
}
.profiles{
    margin-left: -7.4rem;
    margin-top: -.1rem;
}
.blue-buttons{
    font-size: .85rem;color: #0f9bf6;font-weight:bold;
    cursor: pointer;
}
.rec-pp{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: .25rem;
    cursor: pointer;
}
.rec-profiles{
    margin-left: -1rem;
    margin-top: -.1rem;
}
.footer{
    margin-top: 2rem;
}
.footer-text{
    font-size: .8rem;
    color: rgba(0, 0, 0, .25);
    cursor: pointer;
}
@media only screen and (max-width:675px){
    .searchbar{
        display: none;
    }
}
@media only screen and (max-width:985px){
    .content{
        display: none;
    }
}